h2{
  color: #333;
  font-weight: 800;
}

.grid {
  padding-top: 20px;
}

.card {
  padding: 15px;
  width: 50%;
  border-radius: 20px;
  border: 0px solid rgb(101, 100, 100);
  border-style: groove;
  margin: 0px auto 0px auto;
  background-color: #f1f1f1;
  text-align: center;
  box-shadow: 10px 10px rgba(214, 212, 212, 0.6);
}

.card__header{
  text-align: center;
}

.imagen {
  width: 90%;
  margin: 0 auto 0 auto;
  overflow: hidden;
}

.centered{
  text-align: center;
}

.card__actions{
  display: grid;
  grid-template-columns: 30% 3fr;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  width: 95%;
}

.action__button{
  width: 40%;
}

.btn{
  margin-top: 15px;
}