h2 {
  color: #333;
  font-weight: 800;
}

.grid {
  padding-top: 20px;
}

.card {
  padding-top: 20px;
  width: 50%;
  border-radius: 20px;
  border: 0px solid rgb(101, 100, 100);
  border-style: groove;
  margin: 30px auto 0px auto;
  background-color: white;
  text-align: center;
  box-shadow: 10px 10px rgba(214, 212, 212, 0.6);
}

.card__header {
  text-align: center;
}

.imagen {
  width: 60%;
  max-width: 200px;
  margin: 0 auto 0 auto;
  overflow: hidden;
}

.centered {
  text-align: center;
}

.card__actions {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  width: 95%;

}

.action__button {
  margin: 0 auto;
  text-align: center;

}


.btn {
  margin-top: 15px;
  border: 0px;
  background-color: blueviolet;
  color: antiquewhite;
  padding: 15px;
}

.edit-product {
  text-align: center;
  margin: 0 auto;
  padding: 40px;
  background-color: white;
}

input {
  border: 1px solid #d479d8;
  border-bottom: 1px solid #d479d8;
  padding-top: 5px;
  padding-top: 20px;
  margin-top: 15px;
}

textarea {
  border: 1px solid #d97dad;
  border-bottom: 1px solid #d97dad;
  padding-top: 5px;
  padding-top: 20px;
  margin-top: 15px;
}

.imagen-producto {
  width: 150px;
  height: 100px
}

.imagen-detalle {
  width: 450px;
}

.enlace-primera-pagina{
background-color: rgb(215, 210, 210);
color:#d479d8;
text-decoration: none;
}

.btn-login{
background-color: rgb(215, 210, 210);
color:#d479d8;
text-decoration: none;
border: #d479d8;

}

.crear-cuenta{
  text-decoration: none;
  color: #d479d8;
}

h1
{
font-family: cursive;
color: #c1b4c2;

}

.detalles{
  text-decoration: none;
  color: #d479d8;
}