<%- include('includes/header.ejs') %>
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <br>
    <p class="err"><span>404</span> Page not found</p>
    <br>
    
<%- include('includes/footer.ejs') %>