extends layouts/main-layout.pug 
block styles
    // debe mejorarse esta solucion de rutas relativas
    // porque el estilo base deberia llamarse desde la raiz
    link(rel="stylesheet", href="../estilos-base.css")
    link(rel="stylesheet", href="../add-product.css")

block content
    main
            form.product-form(action="add-product" method="POST")
                .form-control 
                    label( for="title") Title 
                    input(type="text", name="title")#title
              
                button.btn(type="submit") producto