extends layouts/mainLayout.pug
block styles
    link(href="/css/form.css", rel="stylesheet")

block pageTitle
    title Añadir productos al menú
block content
        section
            form.formPage(action="/admin/add-product", method="POST", name="newProduct")
                div.inputCtn
                    label(for="title") Nombre
                    input(type="text", placeholder="Nombre del producto", name="title")
                div.inputCtn
                    label(for="description") Descripción
                    textarea(type="text", placeholder="Descripción del producto", name="description", rows="10")
                div.inputCtn
                    label(for="price") Precio
                    input(type="number", placeholder="Precio del producto", name="price")
                div.inputCtn
                    label(for="img") Foto
                    input(type="text", placeholder="Imagen del producto", name="img")
                div.inputCtn                  
                    label(for="tag") Clasificación
                    select(name="tag")
                        option(value="Clasificación del producto", hidden, disabled, selected) Clasificación del producto
                        option(value="Entrada") Entrada
                        option(value="Principal") Principal
                        option(value="Postre") Postre

                button.productCardBtn(type="submit") Añadir producto