extends layouts/mainLayout.pug

block pageTitle
    title Carrito

block content
    h1 Carrito
    if cartProducts.length > 0
        section 
            h3 El carrito está lleno
            a(href="/comprar") Terminar la compra
    else
        section 
            h3 El carrito está vacío
            a(href="/comprar") Terminar la compra   
