extends layouts/mainLayout.pug
block styles
    link(href="/css/form.css", rel="stylesheet")

block pageTitle
    title Iniciar sesi칩n

block content
    h1 Iniciar sesi칩n
    section
        form.formPage(action="log-in", method="POST", name="registeredUser")
            label(for="emailUser") Mail
            input(type="email", placeholder="Mail", name="emailUser")
            
            label(for="passUser") Contrase침a
            input(type="text", placeholder="Password", name="passUser")

            button.productCardBtn(type="submit") Iniciar sesi칩n
        a(href="/register") o registrarse