<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#fffff" />
    <meta name="description"
          content="Página de ventas hecho en base al template de Simple House." />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <title>Page not found</title>
</head>
<body>
    <main class="container">
        <div class="tm-paging-links">
            <h1>Page not found</h1>
        </div>
    </main>
</body>
</html>