extends layouts/mainLayout.pug

block pageTitle
    title Registrarse
block content
        h1 Registrarse
        section
            form(action="", method="POST", name="newUser")
                input(type="text", placeholder="Nombre", name="nameUser")
                input(type="text", placeholder="Apellido", name="lastNameUser")
                input(type="text", placeholder="Mail", name="emailUser")
                input(type="text", placeholder="New Password", name="passUser")

                button(type="submit") Registrarse
            a(href="/log-in") Iniciar sesión
            