extends layouts/mainLayout.pug
block styles
    link(href="/css/form.css", rel="stylesheet")

block pageTitle
    title Registrarse

block content
        h1 Registrarse
        section
            form.formPage(action="", method="POST", name="newUser")
                label(for="nameUser") Nombre
                input(type="name", placeholder="Nombre", name="nameUser")
                
                label(for="lastNameUser") Apellido
                input(type="text", placeholder="Apellido", name="lastNameUser")
                
                label(for="emailUser") Mail
                input(type="email", placeholder="Mail", name="emailUser")
                
                label(for="passUser") Nueva Contraseña
                input(type="password", placeholder="Nueva contraseña", name="passUser")

                button.productCardBtn(type="submit") Registrarse
            a(href="auth/log-in") o iniciar sesión
            