body {
    background-repeat: no-repeat;
}
main{
background-color: transparent;
}

h1, h2 {
    margin-top: 25px;
    color: #333;
    margin: 0 auto 0 auto;
    text-align: center;
}

img{
align:center

}