extends layouts/main-layout.pug 
block styles
    // estilo general cargado en main-layout
    //estilo independiente
    link(rel="stylesheet", href="404.css")

block content
    h1 Sorry this page doesn't exist :(
    h2 (technically... yes, it's a 404 error code)

