<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/404.css" />
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <h1>:( Pagina no encontrada :(</h1>
        <img src="https://st1.uvnimg.com/dims4/default/cda1954/2147483647/thumbnail/1240x698/quality/75/?url=https%3A%2F%2Fuvn-brightspot.s3.amazonaws.com%2Fassets%2Fvixes%2Fbtg%2Fcuriosidades.batanga.com%2Ffiles%2FBiologia-Animal-el-ojo-de-los-gatos-1.jpg">
        
        
        </main>


<%- include('../includes/end.ejs') %>
    