<form action ="/cart/<%= product.Id" %>"</form> method="post">
    <button class="btn" type="submit">Quiero pagar esta factura</button>
   <input type="hidden" name="productId" value="<%= product.id %>">
   </form>