<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="shop.css">
    <link rel="stylesheet" href="add-product">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <div class="b-form text-center">
                    <div class="b-form-title">
                        <h3 class="form_title">Registrate</h3>

                        <p class="b-subtext">o usa tu cuenta de email para registrarte</p>
                    </div>
                    <form method="post" action="">
                        <div class="form-group username">
                            <input class="form-control" type="text" name="" placeholder="Name">
                            <i class="fas fa-user b-font"></i>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="email" name="" placeholder="Email">
                            <i class="fas fa-envelope b-font"></i>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="" placeholder="Password">
                            <i class="fas fa-unlock-alt b-font"></i>
                        </div>
                        <div class="form-group">
                            <span class="b-forgot">Recuperar contraseña</span>
                        </div>
                        <button type="button" class="sign_up">Registrarse</button>
                    </form>
                </div>
    </main>
<%- include('../includes/end.ejs') %>