<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/shop.css">
    </head>

    <body class="imagenbackground">
        <%- include('../includes/navigation.ejs') %>

            <main class="transparente">
                
                

                <form class="ingreso">
                    <input type="text" placeholder="username" />
                    <input type="password" placeholder="password" />
                    <button class="btn-login">login</button>
                    <p class="message">Not registered? <a class="crear-cuenta" href="/registro">crear cuenta</a></p>
                
                </form>
                </main>

            <%- include('../includes/end.ejs') %>