.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    width: 20rem;
    max-width: 95%;
}

.product__direccion {
    font-size: 1.2rem;
    text-align: center;
}
.product__fecha_de_vencimiento {
    font-size: 1.2rem;
    text-align: center;
}
.product__empresa {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}