<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/shop.css">
    <link rel="stylesheet" href="/css/estilo-base">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                
                <form >
                    <input type="text" placeholder="username" />
                    <input type="password" placeholder="password" />
                    <button>login</button>
                    <p class="message">Not registered? <a href="#">Create an account</a></p>
                </form>

                <img
                    src="https://res.cloudinary.com/dktx1oojk/image/upload/f_auto,q_90,w_1000,c_scale/web/globalassets/global/images/advice/ovrigt/cat_balance_window.jpg">
            </main>

            <%- include('../includes/end.ejs') %>