.product-form{
    margin-top: 50px;
}

form {
    padding-top: 20px;
    width: 90%;
    margin: 10px auto 0 auto;
}

/* cada div del formulario */
.form-control{
    display: center;
    display: block;
    margin-top: 10px;

}

input{
    height: 30px;
}

button{
    font-size: 15px;
    margin: 20px 40px auto auto;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

