ul li{
  text-decoration: none;
  display: block;
  margin-left: 15px;
  padding-top: 15px;
}

.btn{
  margin-top: 15px;
  border:0px;
  background-color: blueviolet;
  color: antiquewhite;
  padding: 15px;}

