h2{
  color: #333;
  font-weight: 800;
}

.card {
  padding: 15px;
  width: 30%;
  border-radius: 20px;
  border: 0px solid rgb(101, 100, 100);
  border-style: groove;
  margin: 20px auto 20px auto;
  background-color: #f6f6f6;
  text-align: center;
}

.card__header{
  text-align: center;
}

.imagen {
  width: 150px;
  margin: 0 auto 0 auto;
}

.card__actions{
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  width: 95%;
}